<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Etiquetas.My.MySettings.EtiquetasConnectionString"
            connectionString="Data Source=TRIBUNAL-PC\SQLEXPRESS;Initial Catalog=Etiquetas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>